<div class="navbar-custom navbar-collapse sticky-top" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
  <%= link_to "AIRMUSIC", root_path, class: "navbar-brand navbar-links logo", "data-navbar-target": "linklogo" %>

  <div class="d-flex justify-content-between">
    <% if user_signed_in? %>
      <%= render "shared/search_form" %>

      <div class="d-flex" data-navbar-target="navlinks">
        <%= link_to "Sign-Out", destroy_user_session_path, method: :delete, class: "navbar-brand navbar-links", "data-navbar-target": "linklogo" %>
      </div>
      <div class="d-flex" data-navbar-target="navlinks">
        <%= link_to "My Albums", my_albums_path, class: "navbar-brand navbar-links", "data-navbar-target": "linklogo" %>
      </div>
      <div class="d-flex" data-navbar-target="navlinks">
        <%= link_to "Edit Profile", edit_user_registration_path, class: "navbar-brand navbar-links", "data-navbar-target": "linklogo" %>
      </div>
      <div class="d-flex">
        <button type="button" class="avatar me-3" style="background-image: url('<%= cl_image_path current_user.photo.key %>')" data-action="click->navbar#avatarMenu">
        </button>
      </div>
    <% else %>
      <div>
        <%= link_to "Login", new_user_session_path, class: "navbar-brand navbar-links d-flex", "data-navbar-target": "linklogo" %>
      </div>
      <div class="left-border-link">
        <%= link_to "Sign-Up", new_user_registration_path, class: "navbar-brand navbar-links d-flex", "data-navbar-target": "linklogo" %>
      </div>
    <% end %>
  </div>

  <div class="avatarmenu hide" data-navbar-target="avatarmenu">
    <div class="row">
      <button data-action="click->navbar#closeMenu">x</button>
    </div>
    <div class="row">
      <%= link_to "My Albums", my_albums_path, class: "navbar-brand navbar-links", "data-navbar-target": "linklogo" %>
    </div>
    <div class="row">
      <%= link_to "Edit Profile", edit_user_registration_path, class: "navbar-brand navbar-links", "data-navbar-target": "linklogo" %>
    </div>
    <div class="row">
      <%= link_to "Sign-Out", destroy_user_session_path, method: :delete, class: "navbar-brand navbar-links", "data-navbar-target": "linklogo" %>
    </div>
  </div>
</div>
